# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# IntelliJ IDEA
.idea/
*.iml

# Archivos compilados
out/
bin/

# Compilados Java
*.class

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db